<html>
<head>
    <title></title>
</head>
<body>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
    <script type="text/javascript">
        var app = angular.module('MyApp', [])
        app.controller('MyController', function ($scope, $window) {
            $scope.OpenPopupWindow = function () {
                var $popup = $window.open("Popup.htm", "popup", "width=250,height=100,left=10,top=150");
                $popup.Name = $scope.Name;
            }
        });
    </script>
    <div ng-app="MyApp" ng-controller="MyController">
        Name:
        <input type="text" ng-model="Name" />
        <br />
        <br />
        <input type="button" value="Open Popup Window" ng-click="OpenPopupWindow()" />
    </div>
</body>
</html>
 