body {
  background-color: skyblue;
  background-image: url(a.jpg);
 
} 
h1 { color: red; }

h1 {
    margin: 0 0 40px 500px;
    color: red;
}

p {
    margin: 20px 40px 20px 50px;
    color: green;
}
h3 {
    margin: 0 0 40px 50px;
    color: yellow;
 
  margin: 0 auto;
  background-color: red;
  width: 400px; 
  height: 20px;
  padding: 50px;
  box-sizing: border-box;

}


</style>